<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{%begin title%}Cephalic Techonology{%endblock%}</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        /* Sticky footer */
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content-wrapper {
            flex: 1 0 auto;
        }
        footer {
            flex-shrink: 0;
        }
    </style>
</head>
<body>
	<!--Nav Bar settings -->
	<nav class="navbar navbar-expand flex-wrapk" style="padding: 0.5rem 1rem;background-color:royalblue;border-radius: 12px;">
        <button style="background-color: midnightblue;border-radius: 20px"><a class="navbar-brand" href="{{ url_for('auth.index') }}" style="font-family:Franklin Gothic Medium ;color:lightcoral;">🏔️🌄🧗‍♂️ Santra's Trekking</a></button>
        <ul class="navbar-nav ms-auto flex-wrap">
            {% if current_user.is_authenticated %}
                {% if current_user.role == 'admin' %}
                    <li class="nav-item"><button style="background-color: midnightblue;border-radius: 20px"><a class="nav-link text-white" href="{{ url_for('admin.dashboard') }}">Admin Dashboard</a></button></li>
                   
                    <li class="nav-item"><button style="background-color: midnightblue;border-radius: 20px"><a class="nav-link text-white" href="{{ url_for('admin.search') }}">Search</a></button></li>
                {% elif current_user.role == 'engineer'||'superviser' %}
                    <li class="nav-item"><button style="background-color: midnightblue;border-radius: 20px"><a class="nav-link text-white" href="{{ url_for('staff.dashboard') }}">Staff Dashboard</a></button></li>
                    <li class="nav-item"><button style="background-color: midnightblue;border-radius: 20px"><a class="nav-link text-white" href="{{ url_for('staff.edit_profile') }}">Edit Profile</a></button></li>
                {
                <li class="nav-item"><button style="background-color: midnightblue;border-radius: 20px"><a class="nav-link text-white" href="{{ url_for('auth.logout') }}">Logout</a></button></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>